.contact{
    margin-bottom: 120px;
    &__container{
      & h2{
        margin-bottom: 22px;
    }
    &-wrap{
      display: flex;
      gap: 30px;
      @media screen and (max-width:1023px) {
        flex-direction: column;
      }
      &-image{
        display: block;
        width: 63%;
        max-height: 369px;
        @media screen and (max-width:1023px) {
          width: 100%;
        }
      }
      &-form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: 'TT Hoves', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.56px;
        width: 34%;
        @media screen and (max-width:1023px) {
          width: 100%;
        }
        &  p{
              color: #333;
              margin-left: 35px;
              letter-spacing: 0.42px;
              margin-bottom: 11px;
            }
        & input:not([type='submit']),
        & textarea{
          display: block;
          width: 100%;
          border: none;
          background-color: #F3F3F3;
          color: #8D8D8D;
          padding-top: 15px;
            padding-bottom: 14px;
            outline: none;
        }
        & textarea{
          min-height: 147px;
          position: relative;
          margin-bottom: 12px;
          
        }
       
        & .form-group{
          position: relative;
          & input{
            padding-left: 10px;
            font-size: 14px;
            outline: none;
          }
          & label{
            position: absolute;
            top: 14px;
            left: 26px;
            pointer-events: none;
            transition: 0.2s ease-out;
            color: #8D8D8D;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.56px;
            text-align: center;
            & span {
              color: #C30000;
            }
          }

        }
        &  .message-group {
          position: relative;
          min-height: 147px;
          & input{
            height: 100%;
          }
        }
        & .done-icon {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          z-index: 1;
        }
      }
    }
    }
}

  
 
 
  
  


  .form-group input:focus + label,
  .form-group input:not(:placeholder-shown) + label {
    top: -20px;
    font-size: 14px;
    color: #C30000;
    background-color: #fff;
    padding: 0 5px;
  }
  .contact__img-wrap{
    max-width: 749px;
  }
.contact__img{
   width: 100%;
}
.btn-wrapper {
  display: flex;
  align-items: center;
  max-width: 222px;
  background-color: #333333; 
  color: #ffffff; 
  max-width: 222px;
  padding: 24px 49px 23px 48px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
  svg {
    margin-left: 10px; 
    width: 24px;
    height: 24px;
    path{
      fill: #ffffff; 
     
    }
  }
  input{
    font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; 
  letter-spacing: 2.4px;
  text-transform: uppercase;
  }
}
.btn-wrapper:hover{
  transform: translateY(-10px);
  transition: 0.75s ease;
  background: #caa6a6;
}
.submit-btn {
  border: none;
  font-size: 16px;
  background: inherit;
  color: inherit;
}
.form-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 
}