.top{
    margin-bottom: 120px;
}
.swiper{
    position: relative;
}
.slide{
    display: flex;
    align-items: center;
   position: relative;
}
.slide__title{
    text-align: start;
    max-width: 277.763px;
    
        font-weight: 300;
        line-height: 64px;
        color:  #BDBDBD;
        margin: 0;
        width: 100%;
        margin-right: 122px;
        padding: 0;
    h1{
        font-weight: 300;
        line-height: 64px;
        width: 100%;
        font-size: 64px;
        color:  #BDBDBD;
        font-size: 64px;
    }
    span{
        color:  #333;
        font-weight: 600;
        line-height: inherit;
        font-size: inherit;
    }
}
.slide::after {
    content: url(../images/LineSlide.svg);
    width: 100%;
    position: absolute;
    left: 11%;
    top: 63%;
}
.swiper-button-prev, 
.swiper-button-next {
    display: block;
    width: 53px;
    height: 53px;
    border: 1px solid #F2F2F2;
    background: #FFF;  
    z-index: 1;
    bottom: 32%;
    top: inherit;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    border: 1px solid #F2F2F2;
    background: #F9F9F9;
    opacity: 1;
}
.next{
    left: 76px;
}
.top__wrap{
    width: 100%;
}
.swiper-pagination{
    position: absolute;
    left: 0;
    bottom: 107px;
    max-width: 185px;
    color: #bdbdbb;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.swiper-button-next:after{
    content: url('../images/arrow_next.svg');
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8px;
    left: 15px;
}
.swiper-button-prev::after {
    content: url('../images/arrow_prev.svg');
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8px;
    left: 15px;
}
.slide__img{
//     position: relative;
//    max-width: 770px;
//     max-height: 829px;  
    img{
        width: 100%;
    }
}
.swiper__link{
    position: absolute;
    bottom: 0;
    // left: 0;
    background: #FFF;
    color: #333;
    
}
