@font-face {
  font-family: "TT Hoves";
  src: url(../fonts/font/TTHoves-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "TT Hoves";
  src: url(../fonts/font/TTHoves-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "TT Hoves";
  src: url(../fonts/font/TTHoves-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "TT Hoves";
  src: url(../fonts/font/TTHoves-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Gothic A1";
  src: url("../fonts/Gothic_A1/GothicA1-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPro/SFProDisplay-Heavy.ttf");
  font-weight: 900;
}
html {
  scroll-behavior: smooth;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  display: block;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

.header {
  padding: 29px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}
.header__container .logo {
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
}
.header__container .navWrap {
  width: 64%;
}
@media screen and (max-width: 1023px) {
  .header__container .navWrap {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100%;
    left: 0;
    transform: scale(0);
    background-color: #fff;
    transition: all 0.5s ease;
    z-index: 50;
    padding: 0 20px;
  }
  .open .header__container .navWrap {
    top: 82px;
    transform: scale(1);
    align-items: flex-start;
    gap: 30px;
  }
}
.header__container .navWrap ul {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 1023px) {
  .header__container .navWrap ul {
    flex-direction: column;
  }
}
.header__container .navWrap ul li {
  color: #333;
  font-family: "TT Hoves";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  position: relative;
  transition: 0.75s ease;
}
.header__container .navWrap ul li:after, .header__container .navWrap ul li::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background: #333;
  transition: 0.75s ease;
}
.header__container .navWrap ul li:before {
  bottom: -3px;
  top: inherit;
}
.header__container .navWrap ul li:hover::after {
  width: 100%;
  transform: scale(1.3);
}
.header__container .navWrap ul li:hover::before {
  width: 100%;
  transform: scale(1.3);
  background: #333;
}
.header__container .burgerBtn {
  display: none;
}
@media screen and (max-width: 1023px) {
  .header__container .burgerBtn {
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
  }
  .header__container .burgerBtn .btn-menu-line {
    width: 27px;
    height: 2px;
    position: absolute;
    left: 8px;
    background-color: #ccc;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  .header__container .burgerBtn .btn-menu-line1 {
    top: 17px;
  }
  .header__container .burgerBtn .btn-menu-line3 {
    bottom: 15px;
  }
  .open .header__container .burgerBtn .btn-menu-line1 {
    transform: rotate(45deg) translate(2px, 2px) scale(1.15) rotate(92deg);
  }
  .open .header__container .burgerBtn .btn-menu-line2 {
    opacity: 0;
  }
  .open .header__container .burgerBtn .btn-menu-line3 {
    transform: rotate(-45deg) translate(4px, -4px) scale(1.15) rotate(-92deg);
  }
}

.main {
  margin-bottom: 150px;
}
.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 1023px) {
  .main__container {
    flex-direction: column;
    justify-content: center;
    padding: 60px 0;
  }
}
.main__container-info {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 90px;
}
@media screen and (max-width: 1023px) {
  .main__container-info {
    width: 100%;
  }
}
.main__container-info h1 {
  font-weight: 300;
  line-height: 64px;
  width: 100%;
  font-size: 64px;
  color: #BDBDBD;
  font-size: 64px;
}
.main__container-info h1 span {
  color: #333;
  font: inherit;
}
.main__container-info .arrows {
  position: relative;
  max-width: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
.main__container-info .arrows .arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  transition: 0.5s ease;
  width: 53px;
  height: 53px;
  border: 1px solid #F2F2F2;
  background: #FFF;
  z-index: 1;
}
.main__container-info .arrows .arrow::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 17px;
  height: 8px;
  left: 0;
}
.main__container-info .arrows .next::after {
  background: url("../images/arrow_next.svg") center center/cover no-repeat;
  left: 15px;
}
.main__container-info .arrows .prev::after {
  background-image: url("../images/arrow_prev.svg");
  left: 15px;
}
.main__container-info .arrows .swiper-button-prev.swiper-button-disabled,
.main__container-info .arrows .swiper-button-next.swiper-button-disabled {
  border: 1px solid #F2F2F2;
  background: #F9F9F9;
  opacity: 1;
}
.main__container-info .swiper-pagination {
  position: relative;
  left: 0;
  max-width: 185px;
  color: #bdbdbb;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}
.main__container-slider {
  width: 64%;
}
@media screen and (max-width: 1023px) {
  .main__container-slider {
    width: 100%;
  }
}
.main__container-slider .swiper-wrapper {
  padding-bottom: 30px;
}
.main__container-slider .slide {
  height: auto;
  max-width: 100%;
  width: 100%;
}
.main__container-slider .slide img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__container-slider .slide .swiper__link {
  position: absolute;
  bottom: 0;
  background: #FFF;
  color: #333;
}
.main__container-slider .slide .swiper__link:hover {
  background-color: #caa6a6;
}

.information {
  margin-bottom: 120px;
}
.information__container-wrapper {
  display: flex;
  gap: 30px;
  background: #FBFBFB;
  position: relative;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .information__container-wrapper {
    flex-direction: column-reverse;
  }
}
.information__container-wrapper-images {
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  grid-template-rows: repeat(3, 118px);
  gap: 30px;
}
@media screen and (max-width: 1023px) {
  .information__container-wrapper-images {
    display: flex;
    flex-direction: column;
  }
}
.information__container-wrapper-images img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.information__container-wrapper-images img:nth-of-type(1) {
  grid-row: 1/2;
}
.information__container-wrapper-images img:nth-of-type(2) {
  grid-row: 2/3;
  grid-column: 2/2;
  align-self: center;
}
.information__container-wrapper-images img:nth-of-type(3) {
  grid-row: 3/3;
}
.information__container-wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  align-items: flex-start;
}
@media screen and (max-width: 1023px) {
  .information__container-wrapper-text {
    max-width: 100%;
  }
}
.information__container-wrapper-text p {
  color: #000;
  font-family: "TT Hoves";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}
.information__container-wrapper-text .read {
  background: #FFF;
  padding: 30px 64px;
}

.contact {
  margin-bottom: 120px;
}
.contact__container h2 {
  margin-bottom: 22px;
}
.contact__container-wrap {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1023px) {
  .contact__container-wrap {
    flex-direction: column;
  }
}
.contact__container-wrap-image {
  display: block;
  width: 63%;
  max-height: 369px;
}
@media screen and (max-width: 1023px) {
  .contact__container-wrap-image {
    width: 100%;
  }
}
.contact__container-wrap-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "TT Hoves", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  width: 34%;
}
@media screen and (max-width: 1023px) {
  .contact__container-wrap-form {
    width: 100%;
  }
}
.contact__container-wrap-form p {
  color: #333;
  margin-left: 35px;
  letter-spacing: 0.42px;
  margin-bottom: 11px;
}
.contact__container-wrap-form input:not([type=submit]), .contact__container-wrap-form textarea {
  display: block;
  width: 100%;
  border: none;
  background-color: #F3F3F3;
  color: #8D8D8D;
  padding-top: 15px;
  padding-bottom: 14px;
  outline: none;
}
.contact__container-wrap-form textarea {
  min-height: 147px;
  position: relative;
  margin-bottom: 12px;
}
.contact__container-wrap-form .form-group {
  position: relative;
}
.contact__container-wrap-form .form-group input {
  padding-left: 10px;
  font-size: 14px;
  outline: none;
}
.contact__container-wrap-form .form-group label {
  position: absolute;
  top: 14px;
  left: 26px;
  pointer-events: none;
  transition: 0.2s ease-out;
  color: #8D8D8D;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  text-align: center;
}
.contact__container-wrap-form .form-group label span {
  color: #C30000;
}
.contact__container-wrap-form .message-group {
  position: relative;
  min-height: 147px;
}
.contact__container-wrap-form .message-group input {
  height: 100%;
}
.contact__container-wrap-form .done-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  z-index: 1;
}

.form-group input:not(:-moz-placeholder-shown) + label {
  top: -20px;
  font-size: 14px;
  color: #C30000;
  background-color: #fff;
  padding: 0 5px;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 14px;
  color: #C30000;
  background-color: #fff;
  padding: 0 5px;
}

.contact__img-wrap {
  max-width: 749px;
}

.contact__img {
  width: 100%;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  max-width: 222px;
  background-color: #333333;
  color: #ffffff;
  max-width: 222px;
  padding: 24px 49px 23px 48px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-wrapper svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
.btn-wrapper svg path {
  fill: #ffffff;
}
.btn-wrapper input {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.btn-wrapper:hover {
  transform: translateY(-10px);
  transition: 0.75s ease;
  background: #caa6a6;
}

.submit-btn {
  border: none;
  font-size: 16px;
  background: inherit;
  color: inherit;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  background: #2C2C2C;
  color: #fff;
  position: relative;
}
.footer__container-top {
  display: flex;
  gap: 40px;
  align-items: start;
  justify-content: space-between;
  padding: 60px 0;
}
@media screen and (max-width: 1023px) {
  .footer__container-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer__container-top .logo {
  max-width: 145px;
  max-height: 94px;
}
@media screen and (max-width: 1023px) {
  .footer__container-top .logo {
    margin: 0 auto;
  }
}
.footer__container-top-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 1023px) {
  .footer__container-top-item {
    align-items: center;
  }
}
.footer__container-top-item span {
  color: #FFF;
  font-family: "TT Hoves";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__container-top-item .menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer__container-top-item a {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  transition: 0.5s linear;
}
@media screen and (max-width: 550px) {
  .footer__container-top-item a {
    word-wrap: break-word;
    word-break: break-all;
  }
}
.footer__container-top-item a svg {
  width: 16px;
  height: 16px;
}
.footer__container-top-item a:hover {
  color: #caa6a6;
}
.footer__container-top-item-contacts {
  max-width: 314px;
}
.footer__container-top-item-social {
  flex-direction: row;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
.footer__container-copy {
  padding: 24px 0;
  text-align: center;
  color: rgba(200, 200, 200, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  position: relative;
}
.footer__container-copy:after {
  content: "";
  position: absolute;
  bottom: 70px;
  width: 100%;
  height: 1px;
  background: #ffffff;
  opacity: 0.1;
  left: 0;
}

.tasks {
  margin-bottom: 120px;
}
.tasks__container h2 {
  margin-bottom: 60px;
}
.tasks__container-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 80px;
}
@media screen and (max-width: 1023px) {
  .tasks__container-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
.tasks__container-wrap-item {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .tasks__container-wrap-item {
    flex-direction: column;
  }
}
.tasks__container-wrap-item-paragraph {
  text-wrap: balance;
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}
.tasks__container-wrap-item .count {
  color: #F2F2F2;
  font-family: "SF Pro Display";
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.project {
  margin-bottom: 120px;
}
.project__container h2 {
  margin-bottom: 60px;
}
.project__container-wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 990px) {
  .project__container-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .project__container-wrap {
    grid-template-columns: 1fr;
  }
}
.project__container-wrap-image {
  position: relative;
  width: 100%;
  height: auto;
}
.project__container-wrap-image:hover .project__container-wrap-image-link {
  opacity: 1;
}
.project__container-wrap-image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.project__container-wrap-image-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  transition: 0.75s linear;
}
.project__container-wrap-image-link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  opacity: 0.8;
  z-index: -1;
}
.project__container-wrap-image-link span {
  color: #FFF;
  font-family: "TT Hoves";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 100% */
}
@media screen and (max-width: 990px) {
  .project__container-wrap-image-link span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .project__container-wrap-image-link span {
    font-size: 24px;
  }
}
.project__container-wrap-image-link a {
  color: #FFF;
  font-family: "Gothic A1";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
}
.project__container-wrap-image:nth-child(5n+1) {
  grid-column: 1/4;
}
@media screen and (max-width: 990px) {
  .project__container-wrap-image:nth-child(5n+1) {
    grid-column: 1/2;
  }
}
@media screen and (max-width: 767px) {
  .project__container-wrap-image:nth-child(5n+1) {
    grid-column: 1/1;
  }
}
.project__container-wrap-image:nth-child(5n+2) {
  grid-column: 4/7;
}
@media screen and (max-width: 990px) {
  .project__container-wrap-image:nth-child(5n+2) {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 767px) {
  .project__container-wrap-image:nth-child(5n+2) {
    grid-column: 1/1;
  }
}
.project__container-wrap-image:nth-child(5n+3) {
  grid-column: 1/3;
}
.project__container-wrap-image:nth-child(5n+3) .project__container-wrap-image-link span {
  font-size: 2.5rem;
}
@media screen and (max-width: 990px) {
  .project__container-wrap-image:nth-child(5n+3) {
    grid-column: 1/2;
  }
}
@media screen and (max-width: 767px) {
  .project__container-wrap-image:nth-child(5n+3) {
    grid-column: 1/1;
  }
}
.project__container-wrap-image:nth-child(5n+4) {
  grid-column: 3/5;
}
.project__container-wrap-image:nth-child(5n+4) .project__container-wrap-image-link span {
  font-size: 2.5rem;
}
@media screen and (max-width: 990px) {
  .project__container-wrap-image:nth-child(5n+4) {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 767px) {
  .project__container-wrap-image:nth-child(5n+4) {
    grid-column: 1/1;
  }
}
.project__container-wrap-image:nth-child(5n+5) {
  grid-column: 5/7;
}
.project__container-wrap-image:nth-child(5n+5) .project__container-wrap-image-link span {
  font-size: 2.5rem;
}
@media screen and (max-width: 990px) {
  .project__container-wrap-image:nth-child(5n+5) {
    grid-column: 1/3;
    max-height: 380px;
  }
}
@media screen and (max-width: 767px) {
  .project__container-wrap-image:nth-child(5n+5) {
    grid-column: 1/1;
    max-height: 100%;
  }
}
.project__container .project-btn {
  background: #333;
  margin-left: auto;
  padding: 30px 40px 30px 29px;
  color: #FFF;
}
.project__container .project-btn svg path {
  fill: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TT Hoves", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body a {
  text-decoration: none;
  color: inherit;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-family: inherit;
}

@media screen and (max-width: 1023px) {
  main {
    margin-top: 200px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 64px;
  color: #BDBDBD;
  padding: 0;
  font-weight: 300;
}
@media screen and (max-width: 550px) {
  h2 {
    font-size: 48px;
  }
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: TT Hoves;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  max-width: 222px;
  padding: 30px 50px;
  height: 71px;
}
.btn svg {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.btn:hover {
  transform: translateY(-10px);
  transition: 0.75s ease;
  background: #caa6a6;
}/*# sourceMappingURL=style.css.map */