@font-face {
    font-family: 'TT Hoves'; 
    src: url(../fonts/font/TTHoves-Light.ttf);
    font-weight: 300;
  }
@font-face {
    font-family: 'TT Hoves'; 
    src: url(../fonts/font/TTHoves-Regular.ttf);
    font-weight: 400;
  }
@font-face {
    font-family: 'TT Hoves'; 
    src: url(../fonts/font/TTHoves-Medium.ttf);
    font-weight: 500;
  }
@font-face {
    font-family: 'TT Hoves'; 
    src: url(../fonts/font/TTHoves-Bold.ttf);
    font-weight: 700;
  }
@font-face {
    font-family: 'Gothic A1'; 
    src: url('../fonts/Gothic_A1/GothicA1-Regular.ttf');  
    font-weight: 400;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFPro/SFProDisplay-Heavy.ttf');
    font-weight: 900;
  }
  html {
    scroll-behavior: smooth;
  }
  @import './reset';
  @import './_navBar.scss' ;
@import './_topSection.scss';
@import './inform';
@import './contact';
@import './footer';
@import './mobileStyle';
  @import './tasks-section.scss';
  @import './projects-section.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "TT Hoves", sans-serif;
    font-weight: 400;
    font-style: normal;
    a{
        text-decoration: none;
        color: inherit;
        width: fit-content;
        cursor: pointer;
        font-family: inherit;
    }
}
 main{
    @media screen and (max-width:1023px) {
        margin-top: 200px;
    }
 }   
.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
h2{
    font-size: 64px;
    color:  #BDBDBD;
    padding: 0;
    font-weight: 300;
    @media screen and (max-width:550px) {
        font-size: 48px;
    }
}
button{
    border: none;
    background: inherit;
    cursor: pointer;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: TT Hoves;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    max-width: 222px;
    padding: 30px 50px;
    height: 71px;
    svg{
        width: 24px;
        height: 24px;
        margin-left: 12px;
    }
}
.btn:hover{
    transform: translateY(-10px);
    transition: 0.75s ease;
    background: #caa6a6;
}
